In [1]:
import pandas as pd
from icecream import ic
import warnings
warnings.filterwarnings('ignore')
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def fn_value_counts(df, number):
    columns=df.columns.tolist()
    for col in columns:
        if df[col].nunique()<number:
            print(col,':\n value counts\n', df[col].value_counts())
        else:
            print(col,':value counts >%i\n' %number)

def fn_dataframe_info(df):
    noCols= df.shape[1]
    noRows= df.shape[0]
    print('There are columns(%i) and rows (%i) \n columns are as follows: %s' %(noCols,noRows, df.columns))
    print('Total number of null values in the data:%i and it percentage %f' %((df.isnull().sum().sum()),(df.isnull().sum().sum()*100)/(noCols*noRows)))
    #fn_value_counts(df,20)

In [3]:
datapath="F:/insofe/Data/rawDataLoan/"
os.listdir(datapath)

['.DS_Store',
 'app.tsv',
 'borrower.tsv',
 'credit.tsv',
 'Feature_of_importance.png',
 'Readme.txt',
 'result.tsv']

In [23]:
readme=open((datapath+'Readme.txt'), 'r')
readme.readlines()
#readme.close()

['Problem\n',
 '----------\n',
 '\n',
 'Your task is to gain an understanding of a small loan-application dataset so that we can double-check the work of agents making quick-fire loan determinations by text.\n',
 '\n',
 '\n',
 'Goals\n',
 '-----\n',
 '\n',
 '1. Data Understanding\n',
 '\n',
 '    Â·Â\xa0Convert the data-set into whatever format makes the most sense to you.\n',
 '    Â·Â\xa0Please keep track of any statistics or findings that you think are relevant to solving the problem.\n',
 '    Â·Â\xa0Please provide a thorough analysis of the relationships between the target and the various features and also the relationships between the important   features.\n',
 '\n',
 '2. Prediction / Classification\n',
 '\n',
 '    Â·Â\xa0Based on your understanding, build a quick classifier to determine what the result should be for a new customer\n',
 '    Â·Â\xa0Explain your results and the reason(s) you believe your model is valid\n',
 '\n',
 'Please provide your source code and a document (word, powerpoint, pdf or any suitable format) outlining your findings and explanations, along with the data if you significantly transformed it.\n',
 '\n',
 '\n',
 'Data\n',
 '----\n',
 '\n',
 'credit: CustomerID CheckingAccountBalance DebtsPaid SavingsAccountBalance CurrentOpenLoanApplications\n',
 'app: CustomerID LoanPayoffPeriodInMonths LoanReason RequestedAmount InterestRate Co-Applicant\n',
 'borrower: CustomerID YearsAtCurrentEmployer YearsInCurrentResidence Age RentOrOwnHome TypeOfCurrentEmployment NumberOfDependantsIncludingSelf\n',
 'result: CustomerID WasTheLoanApproved\n']

In [5]:
appCol="CustomerID LoanPayoffPeriodInMonths LoanReason RequestedAmount InterestRate Co-Applicant"
creditCol="CustomerID CheckingAccountBalance DebtsPaid SavingsAccountBalance CurrentOpenLoanApplications"
borrowerCol="CustomerID YearsAtCurrentEmployer YearsInCurrentResidence Age RentOrOwnHome TypeOfCurrentEmployment NumberOfDependantsIncludingSelf"
resultCol= "CustomerID WasTheLoanApprove"

In [6]:
dfApp=pd.read_csv(datapath+'app.tsv',delimiter='\t',header=None, names=appCol.split(' '))
dfCredit=pd.read_csv(datapath+'credit.tsv',delimiter='\t',header=None, names=creditCol.split(' '))
dfBorrower=pd.read_csv(datapath+'borrower.tsv',delimiter='\t',header=None, names=borrowerCol.split(' '))
dfResults=pd.read_csv(datapath+'result.tsv',delimiter='\t',header=None, names=resultCol.split(' '))

In [7]:
dfApp.head(2)

,CustomerID,LoanPayoffPeriodInMonths,LoanReason,RequestedAmount,InterestRate,Co-Applicant
741,36,goods,9566,,2,none
439,12,goods,2279,,4,none

In [8]:
dfCredit.head(2)

,CustomerID,CheckingAccountBalance,DebtsPaid,SavingsAccountBalance,CurrentOpenLoanApplications
0,374,debt,paid,some,2
1,346,some,delayed,none,1

In [9]:
dfBorrower.head(2)

,CustomerID,YearsAtCurrentEmployer,YearsInCurrentResidence,Age,RentOrOwnHome,TypeOfCurrentEmployment,NumberOfDependantsIncludingSelf
0,765,1,1,46,rent,skilled,1
1,668,4,4,49,owned,skilled,1

In [10]:
dfResults.head(2)

   CustomerID WasTheLoanApprove
0           1                 Y
1           2                 Y

In [11]:
fn_value_counts(dfApp,100)

CustomerID :
 value counts
 24      138
12      137
18       79
36       62
6        49
15       49
9        38
48       37
30       29
10       23
21       18
42       10
60       10
27        9
20        6
11        6
8         6
39        5
7         4
14        4
45        4
4         3
13        3
28        3
33        3
none      2
54        2
22        1
72        1
47        1
5         1
26        1
good      1
busi      1
40        1
16        1
Name: CustomerID, dtype: int64
LoanPayoffPeriodInMonths :
 value counts
 goods       348
auto        248
busin        77
school       47
repairs      14
other        10
s  goods      1
  goods       1
n  busin      1
   auto       1
Name: LoanPayoffPeriodInMonths, dtype: int64
LoanReason :value counts >100

RequestedAmount :
 value counts
         624
4        71
3        10
1         9
2         8
7         5
6         4
9         4
8         3
5         3
0         2
591       1
146       1
   n      1
577       1
36        1
Name: RequestedAmount, dtype: int64
InterestRate :
 value counts
 4       292
2       163
3       104
1        97
none     79
guar      6
   n      4
co-a      2
one       1
Name: InterestRate, dtype: int64
Co-Applicant :
 value counts
 none          586
guarant        34
co-app         32
ant             6
one             4
pp              2
   none         2
   guarant      1
  none          1
Name: Co-Applicant, dtype: int64

In [12]:
appColNew="CustomerID LoanPayoffPeriodInMonths LoanReason RequestedAmount UnknownCol InterestRate Co-Applicant"
dfApp=pd.read_csv(datapath+'app.tsv',delimiter='\t',header=None, names=appColNew.split(' '))

In [13]:
dfApp.head(2)

,CustomerID,LoanPayoffPeriodInMonths,LoanReason,RequestedAmount,UnknownCol,InterestRate,Co-Applicant
0,741,36,goods,9566,,2,none
1,439,12,goods,2279,,4,none

In [14]:
fn_value_counts(dfApp, 30)

CustomerID :value counts >30

LoanPayoffPeriodInMonths :value counts >30

LoanReason :
 value counts
 goods       348
auto        248
busin        77
school       47
repairs      14
other        10
s  goods      1
  goods       1
n  busin      1
   auto       1
Name: LoanReason, dtype: int64
RequestedAmount :value counts >30

UnknownCol :
 value counts
         624
4        71
3        10
1         9
2         8
7         5
6         4
9         4
8         3
5         3
0         2
591       1
146       1
   n      1
577       1
36        1
Name: UnknownCol, dtype: int64
InterestRate :
 value counts
 4       292
2       163
3       104
1        97
none     79
guar      6
   n      4
co-a      2
one       1
Name: InterestRate, dtype: int64
Co-Applicant :
 value counts
 none          586
guarant        34
co-app         32
ant             6
one             4
pp              2
   none         2
   guarant      1
  none          1
Name: Co-Applicant, dtype: int64

In [15]:
fn_value_counts(dfResults,10)

CustomerID :value counts >10

WasTheLoanApprove :
 value counts
 Y    516
N    233
1      1
Name: WasTheLoanApprove, dtype: int64

In [16]:
fn_dataframe_info(dfCredit)

There are columns(5) and rows (749)
 columns are as follows: Index(['CustomerID', 'CheckingAccountBalance', 'DebtsPaid',
       'SavingsAccountBalance', 'CurrentOpenLoanApplications'],
      dtype='object')
Total number of null values in the data:0 and it percentage 0.000000

In [17]:
dfRC = dfResults.merge(dfCredit, left_on='CustomerID', right_on='CustomerID')
dfRCA= dfRC.merge(dfApp, left_on='CustomerID', right_on='CustomerID')
df= dfRCA.merge(dfBorrower, left_on='CustomerID', right_on='CustomerID')
del dfRC, dfRCA, dfApp, dfBorrower, dfCredit, dfResults

In [18]:
fn_dataframe_info(df)

There are columns(18) and rows (515)
 columns are as follows: Index(['CustomerID', 'WasTheLoanApprove', 'CheckingAccountBalance',
       'DebtsPaid', 'SavingsAccountBalance', 'CurrentOpenLoanApplications',
       'LoanPayoffPeriodInMonths', 'LoanReason', 'RequestedAmount',
       'UnknownCol', 'InterestRate', 'Co-Applicant', 'YearsAtCurrentEmployer',
       'YearsInCurrentResidence', 'Age', 'RentOrOwnHome',
       'TypeOfCurrentEmployment', 'NumberOfDependantsIncludingSelf'],
      dtype='object')
Total number of null values in the data:54 and it percentage 0.582524

In [19]:
def fn_catcolumns_endSpaces_remove(df):    
    catCols= (df.select_dtypes(['category','object'])).columns
    print(catCols)
    for col in catCols:
        df[col]= df[col].str.split(' ')
        df[col]= df[col].str.rsplit(' ')
    return df

In [20]:
df1=fn_catcolumns_endSpaces_remove(df)
fn_dataframe_info(df1)

Index(['WasTheLoanApprove', 'CheckingAccountBalance', 'DebtsPaid',
       'SavingsAccountBalance', 'LoanPayoffPeriodInMonths', 'LoanReason',
       'UnknownCol', 'InterestRate', 'Co-Applicant', 'RentOrOwnHome',
       'TypeOfCurrentEmployment'],
      dtype='object')
There are columns(18) and rows (515)
 columns are as follows: Index(['CustomerID', 'WasTheLoanApprove', 'CheckingAccountBalance',
       'DebtsPaid', 'SavingsAccountBalance', 'CurrentOpenLoanApplications',
       'LoanPayoffPeriodInMonths', 'LoanReason', 'RequestedAmount',
       'UnknownCol', 'InterestRate', 'Co-Applicant', 'YearsAtCurrentEmployer',
       'YearsInCurrentResidence', 'Age', 'RentOrOwnHome',
       'TypeOfCurrentEmployment', 'NumberOfDependantsIncludingSelf'],
      dtype='object')
Total number of null values in the data:5665 and it percentage 61.111111

In [37]:
datapath="F:\ExcelData"
filename='mytext.txt'
filePath= datapath + u'\\' + filename

In [38]:
txtfile=open(filePath,'r')

In [40]:
txtfile.readlines()

['step1:\n',
 'read all data frames with given col names ( use given column names form Readme.txt)\n',
 'check columns matching with values\n',
 '\n',
 'step2:\n',
 ' check valus counts with written functions\n',
 '\ta) write fn with a given number of unique count to print\n',
 'step3:\n',
 '  clean the data remove duplicate names\n',
 '\n',
 'step4:\n',
 ' a) number of null valus col/row/total wise\n',
 '\n',
 'step5:\n',
 'identiy possible imputuaions ']

In [32]:
fn_value_counts(df, 20)

CustomerID :value counts >20

WasTheLoanApprove :
 value counts
 Series([], Name: WasTheLoanApprove, dtype: int64)
CheckingAccountBalance :
 value counts
 Series([], Name: CheckingAccountBalance, dtype: int64)
DebtsPaid :
 value counts
 Series([], Name: DebtsPaid, dtype: int64)
SavingsAccountBalance :
 value counts
 Series([], Name: SavingsAccountBalance, dtype: int64)
CurrentOpenLoanApplications :
 value counts
 1    323
2    175
3     14
4      3
Name: CurrentOpenLoanApplications, dtype: int64
LoanPayoffPeriodInMonths :
 value counts
 Series([], Name: LoanPayoffPeriodInMonths, dtype: int64)
LoanReason :
 value counts
 Series([], Name: LoanReason, dtype: int64)
RequestedAmount :value counts >20

UnknownCol :
 value counts
 Series([], Name: UnknownCol, dtype: int64)
InterestRate :
 value counts
 Series([], Name: InterestRate, dtype: int64)
Co-Applicant :
 value counts
 Series([], Name: Co-Applicant, dtype: int64)
YearsAtCurrentEmployer :
 value counts
 4     170
10    126
7      99
1      94
0      26
Name: YearsAtCurrentEmployer, dtype: int64
YearsInCurrentResidence :
 value counts
 4    197
2    159
3     86
1     73
Name: YearsInCurrentResidence, dtype: int64
Age :value counts >20

RentOrOwnHome :
 value counts
 Series([], Name: RentOrOwnHome, dtype: int64)
TypeOfCurrentEmployment :
 value counts
 Series([], Name: TypeOfCurrentEmployment, dtype: int64)
NumberOfDependantsIncludingSelf :
 value counts
 1    437
2     78
Name: NumberOfDependantsIncludingSelf, dtype: int64